.burger {
    position: relative;
    display: none;
    &__menu {
        width: 100px;
        height: 80px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__line {
        background: #E23939;
        height: 6px;
    }

    .header__item {
        text-align: center;
        margin-top: 20px;
    }

    &__list {
        position: absolute;
        right: -9999px;
        background: #E23939;
        display: none;
        
    }
    &__close {
        display: none;
        font-size: 40px;
        font-weight: 700;
    }

    &.active &__list {
        right: 55px;
        display: block;
    }
    &.active &__close {
        display: block;

    }
    
    &.active &__line {
        display: none;

    }
}

@media screen and (max-width:777px) {
    .burger {
        display: block;
    }
}