@media screen and (max-width:777px) {
    .burger {
        display: block;
    }
}

@media screen and(max-width:776px){
.header {
    &__list {
        display: none;
    }
}
}
@media screen and (max-width:390px) {
    .made{
    &__title {
     font-size: 30px;
    }
}
}