.services {

    &__title {
        margin-bottom: 100px;
    }
    &__content {
        @include font(800, 32px, #000000);
        @include margin(74px, 0, 97px,0);
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap
    }
    &__box {
        @include margin(0, 0, 20px, 20px);
    }

    &__title-title {
        @include font(700, 16px, #E85353);
        margin-top: px;
    }

    &__descriptions {
        @include font(400, 12px, #000000);
        margin-top: 8px;
    }

    &__info {
        width: 206px;
    }  
    &__slider {
        display: flex;
        justify-content: center;
        @include margin(30px, 0, 150px,0);
    } 
}